/* Main layout wrapper */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* Header */
.header {
  display: flex;
  height: 50px;
  background-color: #ebf3ff;
  color: white;
  margin: 0;
  padding: 0;
  user-select: none;
}

.header-left {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3361;
}

.logo {
  height: 25px;
}

.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 12px;
}
.mat-menu-item-test {
  background-color: transparent !important;
  outline: none;
  border: none;
  cursor: pointer;
}
.mat-menu-item-test .mat-icon {
  color: #2c3361;
}
.header-right-right {
  display: flex;
  align-items: center;
}
.header-right-right button {
  background: none;
  border: none;
  margin-left: 15px;
  color: #2c3361;
}
.header-right-right button:hover {
  background-color: #dae0e6;
}
.header-right-right button:focus {
  outline: none;
}
.profile-info {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 5px;
  margin-top: -2px;
}
.profile-info:hover {
  background-color: #dae0e6;
}
.profile-image {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  font-size: 14px;
  color: #2c3361;
}

/* Main section below header */
.main-section {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 280px;
  background-color: #2c3361;
  box-shadow: 2px 0 5px #00000080;
  z-index: inherit;
  color: white;
  padding: 0;
  margin: 0;
  height: calc(100vh - 50px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  user-select: none;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar a {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  text-decoration: none;
  color: #eef3fa;
  cursor: pointer;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.sidebar a i {
  width: 45px; /* Set fixed width to align all icons */
  text-align: center; /* Center icon inside the fixed width */
  font-size: 14px; /* Uniform icon size */
  line-height: 1; /* Tighter vertical alignment */
  display: inline-block; /* Prevent extra spacing */
}
.submenu > a {
  cursor: pointer;
}
.sub-menu {
  display: none;
  list-style: none;
  border-left: 2px solid #1abc9c;
}
.sub-menu a {
  padding-left: 25px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.sidebar .submenu > a {
  display: flex; /* Ensure it's a flex container */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Push main content to the left and icon to the right */
  cursor: pointer;
}
.sidebar .submenu > a i:last-child {
  margin-left: auto; /* Push the last icon to the right */
}
.sidebar a i:first-child {
  width: 45px;
  text-align: center;
  font-size: 12px;
  margin-right: 10px;
  line-height: 1;
  display: inline-block;
}
.submenu.open .sub-menu {
  display: block;
}
.sidebar a:hover {
  background-color: #1abc9c;
  color: white;
}
.sub-menu a:hover {
  background-color: #1abc9c;
  color: white;
}
.active-link:hover {
  background-color: #1abc9c;
  color: white !important;
}
/* Content area */
.content {
  flex: 1;
  background-color: #ebf3ff;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}
/* Footer */
.footer {
  background-color: #cfcfcf;
  color: black;
  text-align: center;
  margin-top: auto;
  padding: 4px;
  font-size: 14px;
}
.active-link {
  background-color: #1abc9c;
  /* font-weight: bold; */
  border-left: 0px solid #16a085;
  color: white !important;
}

/* @media (max-width: 768px) {
  .sidebar {
    position: absolute;
    left: -500px;
    transition: left 0.3s;
    z-index: 10;
  }
  .sidebar.open {
    left: 0;
  }
  .main-section {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
} */

/* TABS */
/* .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  min-width: 0; 
}
.tabs-header.dragging {
  scroll-behavior: smooth;
}
.tabs-header.dragging div {
  pointer-events: none;
}
.tabs-header {
  display: flex;
  flex-direction: row; 
  white-space: nowrap;
  overflow-x: auto; 
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; 
  padding: 8px 8px 0 10px;
  margin: 0;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  background-color: #ffff;
  box-shadow: 2px 0 4px #00000080;
}

.tabs-header::-webkit-scrollbar {
  display: none; 
}

.tab {
  border: 1px solid #e4ecee;
  border-bottom: none;
  padding: 8px 16px 8px 10px;
  margin-right: 4px;
  padding-right: 50px;
  background-color: #ffff;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
  font-size: 13px;
  min-width: 80px;
  position: relative;
  user-select: none;
}
.tab:hover {
  background-color: #f2fafd;
  border-color: #b9d2f3;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.tab.active {
  background-color: #e2f5fb;
  border-color: #b9d2f3;
  border-top: 2px solid #697dff;
  border-bottom: none;
  padding-top: 6px;
  margin-top: -2px;
}

.tab-content {
  padding: 0px;
  background-color: #ffffff;
  height: 100%;
  margin: 10px 10px 10px 10px;
  border-radius: 4px;
  border: 1px solid #cfd9e5;
}
.tab.active .fa-xmark {
  top: 6px;
  color: #2c3361;
  display: block;
}
.fa-xmark {
  font-size: 16px;
  color: rgb(66, 65, 65);
  position: absolute;
  top: 8px;
  right: 12px;
  display: none;
}
.tab:hover .fa-xmark {
  display: block;
}
.fa-xmark:hover {
  color: #2c3361;
} */

/* Tab content */
.content-wrapper {
  margin: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #cfd9e5;
  padding: 10px;
  height: 86vh;
}
